@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;700&family=Poppins:wght@100;300;700&display=swap");

:root {
    --font-heading: #b68834;
    --font-body: #ff9900 ; 
    --para-font: #928d8daa;
    --black: #222222;
    --bg: #fff;
    --white: #6b6363;
    --span: #c58d24;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins , sans-serif;
}

span {
    color: var(--span);
    border-bottom: 2px solid var(--font-body);
}

body {
    background: var(--bg);
}

/* Style Navbar Start */

.navbar {
    background: linear-gradient(to top, rgb(137, 89, 0, 0.9) ,rgb(182, 136, 52,0.9),rgb(255, 153, 0,0.9));
    display: flex;
    justify-content: space-around;
    padding: 5px 7%;
    border-bottom: 1px solid #222222;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 999;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 50px;
    border-radius: 100%;
}

.navbar-brand h5 {
    margin: 0px 10px;
    color: var(--bg);
}

.menu-icon {
    font-size: 30px;
    display: none;
    cursor: pointer;
    color: var(--bg);
}

.navbar i {
    background: #000;
}

.navbar .nav-item {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
}

.navbar .nav-item .list-item a{
    text-decoration: none;
    color: var(--bg);
    margin: 0px 3px;
    padding: 0px;
    transition: all;
    transition-duration: 0.5s;
    border-bottom: 1px solid #ffffff00;
}

.navbar .nav-item .list-item a:hover {
    border-bottom: 1px solid var(--bg);
    color: #50432b;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--font-heading);
    padding: 20px;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 20px;
    display: block;
    text-align: start;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown.active  {
    display: block;
}


@media only screen and (max-width : 768px) {

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Poppins , sans-serif;
    }
    
    span {
        color: var(--span);
        border-bottom: 2px solid var(--font-body);
    }
    
    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background: var(--bg);
    }

    .navbar {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        padding: 5px 7%;
    }

    .navbar .nav-item {
        flex-direction: column;
        width: 100%;
    }

    .navbar .hidden {
        display: none;
    }

    .menu-icon {
        display: flex;
        align-items: center;
    }

    hr {
        width: 100%;
    }

    .dropdown .dropdown-content {
        align-items: end;
        justify-content: space-around;
        text-align: end;
    }
    
    .dropdown:hover .dropdown-content {
        padding: 20px;
        display: contents;
    }
}

/* Navbar Finish */

/* Content start */

.home {
    position: relative;
}

.img-content {
    position: relative;
    overflow: hidden;
}


.btn {
    background: var(--font-heading);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px 0px;
    transition: all;
    transition-duration: 1.1s;
}

.btn a{
    text-decoration: none;
    color: var(--bg);
}

.btn:hover {
    background: var(--font-body);
    transform: scale(1.05);
}

@media only screen and (max-width : 768px) {
    .content {
        position: absolute;
        top: 85%;
        left: 35%;
        transform: translate(-50%, -50%);
        text-align: start;
        color: var(--font-body);
        z-index: 1;
    }

    .img-content img{
        height: 14rem;
        width: 100%;
    }

    .content h3 {
        font-size: 12px;
        margin: 15px 0px;
    }
    
    .content h1 {
        font-size: 25px;
    }
    
}

@media only screen and (min-width : 769px ) {
    .content {
        position: absolute;
        top: 53%;
        left: 35%;
        transform: translate(-50%, -50%);
        text-align: start;
        color: var(--font-body);
        z-index: 1;
    }
    
    .content h3 {
        font-size: 24px;
        margin: 15px 0px;
    }
    
    .content h1 {
        font-size: 50px;
    }
    
}

/* Content finish */

/* Blog / about start */

.blog .blog-content .blog-body .card-title h6{
    text-align: center;
    margin: 30px 0px;
    font-weight: 600;
    font-size: 15px;
}

.blog .blog-content .blog-body .card-title h1{
    text-align: center;
    margin: 30px 0px;
    font-weight: 600;
    font-size: 35px;
}

.blog .blog-content .blog-body .blog-card .card-item img {
    overflow: hidden;
    position: relative;
}

.blog .blog-content .blog-body .blog-card .card-item img:hover {
    transform: scale(1.1) ;
    transition: all ease-in-out;
    transition-duration: 1.5s;
    margin-bottom: 10px;
}

@media only screen and (max-width : 768px) {

    .blog .blog-content .blog-header {
        text-align: center;
        align-items: center;
        margin: 20% 8%;
    }
    
    .blog-content .blog-body .blog-card .card-item {
        text-align: center;
        margin: 20px 40px;
        padding-bottom: 15px;
        border: 1px solid var(--black);
        box-shadow: 10px 10px 10px var(--black);
    }
    
    .blog-content .blog-body .blog-card .card-item img{
        width: 100%;
    }
}

@media only screen and (min-width : 769px) {
    
    .blog-content .blog-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
    }
    .blog .blog-content .blog-header {
        display: flex;
        text-align: center;
        align-items: center;
        margin: 50px 100px 20px 100px;
    }


    .blog-content .blog-body .blog-card .card-item{
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 38% ;
        margin: 30px;
        border: 1px solid var(--black);
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 10px 10px 10px var(--black);
    }
    
    .blog-content .blog-body .blog-card .card-item img{
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

/* Blog / About Finish */

/* Menu Start */

.menu .menu-content {
    margin-top: 100px;
}

.menu .menu-content .card-title h6{
    text-align: center;
    margin: 30px 0px;
    font-weight: 600;
    font-size: 15px;
}

.menu .menu-content .card-title h1{
    text-align: center;
    margin: 30px 0px;
    font-weight: 600;
    font-size: 35px;
}

.menu .menu-content .menu-card .card-item {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.menu .menu-content .menu-card .card-item h1{
    font-size: 20px;
    margin: 15px 30px;
    color: var(--font-body);
    border-bottom: 2px solid var(--para-font);
}

.menu .menu-content .menu-card .card-item p{
    margin: 20px;
}

.menu .menu-content .menu-card .card-item h4{
    margin: 20px;
    font-weight: 800;
}

.menu .menu-content .menu-card .card-item:hover {
    transform: translateY(2rem);
    transition-duration: 1.2s;
    color: #ff0000;
}

.menu .menu-content .btn-link {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px auto;
}

.menu .menu-content .btn-link {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 80px 0px -50px 0px;
}

.menu .menu-content .btn-link button{
    text-decoration: none;
    border: none;
    padding: 20px 70px;
    cursor: pointer;
    background: var(--white);
    color: var(--bg);
    border-radius: 10px;
}

.menu .menu-content .btn-link button:hover {
    background: var(--para-font);
    color: var(--black);
    transform: scale(0.9);
    transition: all;
    transition-duration: 1.1s;
    box-shadow: 0px 0px 40px #ff0000;
}



@media only screen and (max-width: 768px ) {
    .menu .menu-content .menu-card {
        text-align: center;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }

    .menu .menu-content .menu-card .card-item {
        text-align: center;
        margin: 40px 40px;
        border: 1px solid var(--black);
        box-shadow: 10px 10px 10px var(--black);
    }

    .menu .menu-content .menu-card .card-item img {
        width: 100%;
    }
}

@media only screen and (min-width: 769px ) {

    .menu-content .menu-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .menu-content .menu-card .card-item{
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 25% ;
        margin: 30px;
        border: 1px solid var(--black);
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: -2px 5px 10px var(--black);
    }
    
    .menu-content .menu-card .card-item img{
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 20px;
    }
}

/* Menu Finsih */

/* Galery start */

.galery {
    width: 100%;
    padding: 70px 0;
    margin-top: 100px;
}

.galery .galery-content .galery-header h1{
    text-align: center;
    margin: 10px 0px;
    font-weight: 600;
    font-size: 35px;
}

.galery .galery-content .galery-header h6{
    text-align: center;
    margin: 10px 0px 100px 0px;
    font-weight: 600;
    font-size: 12px;
}

.galery .galery-content .galery-card{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.galery .galery-content .galery-card .card-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.galery .galery-content .galery-card .card-item img {
    width: 100%;
    transition: .3s;
}

.galery .galery-content .galery-card .card-item:hover img {
    opacity: 0.4;
    transform: scale(0.95);
}

.galery .galery-content .galery-card .card-item h3 {
    position: absolute;
    font-size: 30px;
    margin-bottom: 100px;
    color: #fac031;
    font-family: polo;
    z-index: 5;
    opacity: 0;
    transition: 0.3s;
}

.galery .galery-content .galery-card .card-item:hover h3 {
    opacity: 1;
}

.galery .galery-content .galery-card .card-item p {
    position: absolute;
    width: 100px;
    margin-top: 30px;
    text-align: center;
    color: white;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
}

.galery .galery-content .galery-card .card-item:hover p {
    opacity: 1;
}

@media only screen and (max-width:768px) {
    .galery {
        width: 100%;
        padding: 0;
        margin-top: 100px;
    }

    .galery .galery-content .galery-card{
        width: 85%;
        margin: 10px auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }
    
    .galery .galery-content .galery-card .card-item img {
        box-shadow: 2px 2px 10px var(--font-body);
    }

}
/* Galery Finish */

/* Contact Start */

.contact {
    margin-top: 200px;
    align-items: center;
}

.contact .contact-header h6{
    text-align: center;
    margin: 10px 0px;
    font-weight: 600;
    font-size: 12px;
}

.contact .contact-header h1{
    text-align: center;
    margin: 10px 0px;
    font-weight: 600;
    font-size: 35px;
}

.contact .contact-content .contact-group  {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.contact .contact-content .contact-group .contact-box a {
    text-decoration: none;
}

.contact .contact-content .contact-group .contact-box h2, p {
    color: var(--black);
}

.contact .contact-content .contact-group .contact-box:hover {
    transform: scale(0.9);
    transition: all;
    transition-duration: 1.2s;
}

@media only screen and (max-width: 768px) {

    .contact .contact-content {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        align-items: center;
    }

    .contact .contact-content .contact-group .contact-box {
        margin: 20px;
        border: 1px solid var(--black);
        padding: 20px 10px;
        border-radius: 10px;
        box-shadow: 7px 7px 10px var(--font-body);
    }
    
    .contact .contact-content .maps {
        margin: 0px 50px;
        width: 90%;
        height: 20rem;
        object-fit: cover;
    }
}

@media only screen and (min-width: 769px) {

    .contact .contact-content {
        display: flex;
        flex-direction: row;
        margin-top: 100px;
        align-items: center;
    }

    .contact .contact-content .contact-group .contact-box {
        margin: 20px;
        border: 1px solid var(--black);
        padding: 40px 10px;
        border-radius: 10px;
        box-shadow: 7px 7px 10px var(--font-body);
    } 

    .contact .contact-content .maps {
        margin: 0px 50px;
        width: 65%;
        height: 30rem;
        object-fit: cover;
    }

}

/* Contact Finish */

/* Footer Start */

.footer {
    margin-top: 100px;
}

.footer .footer-content {
    position: relative;
    text-align: center;
}

.footer .footer-content .footer-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bg);
    font-size: 20px;
    font-weight: 600;
    margin: 15px;
}

.footer .footer-content .img-footer img { 
    width: 100%;
    height: 30rem;
}

.footer .footer-content .footer-box .form {
    margin: 15px;
}

.email {
    width: 50%;
}

.footer .footer-content .footer-box input {
    margin: 10px auto;
    padding: 5px 20px;
    width: 80%;
}

#submit {
    background: var(--white);
    border: none;
    padding: 5px 50px;
    color: var(--bg);
    border-radius: 5px;
}

#submit:hover {
    background: var(--span);
    transform: scale(1.2);
    transition: all;
    transition-duration: 1.1s;
}

@media only screen and (max-width: 768px) {

    .footer .footer-content .footer-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--bg);
        font-size: 10px;
        font-weight: 600;
        margin: 15px;
    }
    
    .footer .footer-content .img-footer img { 
        width: 100%;
        height: 17rem;
    }
    
    .footer .footer-content .footer-box .form {
        margin: 5px;
    }
    
    .footer .footer-content .footer-box input, button {
        border: 1px solid #000;
        margin: 4px auto;
        padding: 1px 15px;
    }
    
    .footer .footer-content .footer-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}

/* Footer Finish */